.picker {
    margin-top: 24px;
}

.map-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    max-width: 100%;
    height: 20rem;
    max-height: 30vh;
}

.map-image {
    border: 1px solid var(--ion-color-primary);
    width: 100%;
    height: 100%;
    padding: 4px;
}