<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-icon name="close" slot="icon-only" (click)="onCancel()"></ion-icon>
    </ion-buttons>
    <ion-title>{{ loadedPlace.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <form (ngSubmit)="onPlaceBook()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm=3>
          <ion-item>
            <ion-label position="floating">
              First name
            </ion-label>
            <ion-input type="text" name="first-name" ngModel required="true"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm=3>
          <ion-item>
            <ion-label position="floating">
              Last name
            </ion-label>
            <ion-input type="text" name="last-name" ngModel required="true"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm=3>
          <ion-item>
            <ion-label position="floating">
              Number of guests
            </ion-label>
            <ion-select [ngModel]="'2'" name="number-of-guests">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm=3>
          <ion-item>
            <ion-label position="floating">
              From
            </ion-label>
            <ion-datetime 
              display-format="MMM DD YYYY" 
              picker-format="YY MM DD"
              [min]="loadedPlace.availableFrom.toISOString()"
              [max]="loadedPlace.availableTo.toISOString()"
              name="date-from"
              [ngModel]="startDate"
              #dateFromCtrl="ngModel"
              required
            >
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">
              To
            </ion-label>
            <ion-datetime 
              display-format="MMM DD YYYY" 
              picker-format="YY MM DD"
              [min]="dateFromCtrl.value"
              [max]="loadedPlace.availableTo.toISOString()"
              name="date-to"
              [ngModel]="endDate"
              required
            >
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset="3">
          <ion-button type="submit" expand="block" [disabled]="!f.valid || !datesValid()">Book!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>